<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}"
    />
  </head>
  <body>
    <form action="http://localhost:5000/login" method="post" class="login-form">
      <p>Enter Name:</p>
      <p><input type="text" name="nm" class="login-input" required /></p>
      <p><input type="submit" value="submit" class="login-button" /></p>
    </form>
  </body>
</html>
